<html>
<body>
	<h3>Hello!!!!!</h3>
  <p><b><i>The Time Is now <%= @variable1 %> currently </b></i></p>
	<p2><%= image_tag("hello.jpg", :alt => "Hi!!!", :size => "450x450") %></p2>  
	<h2><%= link_to "Goodbye", greeting_bye_path %></h2>
</body>
</html> 


