<h1>Editing competition</h1>

<%= render 'form' %>

<%= link_to 'Show', @competition, class: "btn btn-small btn-primary" %> |
<%= link_to 'Back', competitions_path, class: "btn btn-small btn-primary" %>
