<html>
<head>
<div class="center jumbotron">
<h1> About PC Sports Rudgy site </h1>
<p>
PC Sports Rudgy site is a web site.<br>
It provides the ability to managing your own rugby side.<br>
Set up competitions, clubs and teams<br>
Set up a set of fixtures an manage results and statistics.<br>
Manage Players and other features you require. 
</p>

</br>
<ul>
 <p>Contact Details</p>
<li>Phone:xxx-xxxx</li>
<li>Email:xxxx@gmail.com</li>
</ul>
</div>
</head>
</html>
