 <html>
 <div class="center jumbotron">
	<h1>Weclome to your shopping cart</h1>
<body>
  <div id="columns">
    <div id="side">
      <div id="cart">
	  <% if @cart %>
        		<%= render 'cart' %>
	<% end %>
      </div>      
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</div>
</html>
