<div class="center jumbotron">
<h1>PC Sports Rugby site<h1>
<h3>Help Page</h3>
  <p>Get help in regards to Ruby on Rails here:
  </p>
  <a><%= link_to "Rails Help Section", 'http://www.railstutorial.org/#help', class: "btn btn-lg btn-primary" %></a>
  </br>
 <p> To get help on this sample app, see the Ruby on Rails</p>
<a><%= link_to "Tutorial Book", 'http://www.railstutorial.org/book', class: "btn btn-lg btn-primary" %></a>
</br>

<p3>For Any Contact information please click the About us button</p3></br>
<p4>
<p>About Us</p>
<p2><%= link_to "About", 'http://localhost:3000/pages/about', class: "btn btn-lg btn-primary" %><p2><br><br><br><br><br>
</p4>
</div>