<div class="center jumbotron">
<h1>Welcome to PC Sports Rugby site</h1>

<body>
<p> New Users register here!, Enter your details, please?</p> 

<p2><%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %><p2>
</br></br>
<p>If you are already a member, Sign In!</p>
<p2><%= link_to "Sign In", signin_path, class: "btn btn-lg btn-primary" %></p2>
</body>
</div>



</table>
